# Logs
logs/
*.log
*.log.*

# Temporary files
tmp/
*.tmp

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.target/

# VS Code
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Dependency directories
node_modules/
