/* Home.css */
.home-page {
  padding: 20px;
  background-color: #f4f6f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the start */
  min-height: 100vh;
}

.home-page h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.home-page p {
  font-size: 18px;
  color: #666;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.notifications {
  margin-top: 10px; /* Adjust margin to reduce gap */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notifications h3 {
  font-size: 20px;
  color: #333;
  margin: 0 0 10px 0; /* Remove top margin and keep bottom margin */
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.notifications ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margins */
}

.notifications li {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  padding: 10px 0; /* Adjust padding as needed */
  border-bottom: 1px solid #eee;
}

.notifications li:last-child {
  border-bottom: none;
}

.notifications li:hover {
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}